<!DOCTYPE html>
<html>
  <head>
    <title>Indicators List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
        <% for(var i=0;  i<indicators.length;i++) { %>              
                <div style="display:inline-block">                
                  <div class="progress-vertical-label">
                    <label> Уровень карналита в силосной башне № <%=i+1%> <hr></label>
                  </div>
                  <div class="progress-vertical-label">
                    <label class="label-underline label-underline--success"><%= indicators[i].percentValue%> %</label>
                  </div>
                  <div class="progress progress-bar-vertical">                    
                    <div id="<%= indicators[i].title%>" name="verticaProgress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= indicators[i].value%>" aria-valuemin="0" aria-valuemax="<%= indicators[i].maxValue%>" style="height: <%= indicators[i].percentValue%>%">
                      <span class="sr-only"><%= indicators[i].value%></span>
                    </div>
                  </div>
                  <div class="progress-vertical-label">
                      <label>Масса карналита</label>
                    </div>
                  <div class="progress-vertical-label">
                    <label class="label-underline label-underline--success"><%= indicators[i].value%></label>
                  </div>
                </div>
                   
        <% } %>
    </div>
  </br>

    <div class="container">
        <!-- <h3 style="cursor:pointer"><a>Add indicators</a></h3> -->
        <h1>Indicators List</h1>
        <% if(indicators.length>0) { %>
        <table class="testTable">
          <thead>
            <tr>
              <th>№ </th>
              <th>Indicator name</th>
              <th>Min value</th>
              <th>Max value</th>              
              <th>Value, L</th>
              <th>Value, %</th>
            </tr>
          </thead>
          <tbody>
  
            <% for(var i=0; i<indicators.length;i++) { %>
              <tr>
                <td><%= i+1%></td>
                <td><%= indicators[i].title%></td>
                <td><%= indicators[i].minValue%></td>
                <td><%= indicators[i].maxValue%></td>
                <td><%= indicators[i].value%></td>   
                <td><%= indicators[i].percentValue%></td>               
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <div>No indicators found.</div>
        <% } %>
      </div>
  </body>
  <script type="text/javascript">
  //Данный скрипт написан для случая, когда в БД отсутствуют значения в процентах
    $('.progress').children('div').each(function(index){
      //Цвета элементов
	    $(this).attr('aria-valuemax', ( index, max )=> {
		    $(this).attr('aria-valuenow', ( index, current )=> {
          var percentValue=(current/max)*100;
          if(percentValue>=50 && percentValue<=75){
            $(this).attr('class','progress-bar progress-bar-warning');
          }
          if(percentValue<=25){
            $(this).attr('class','progress-bar progress-bar-danger progress-bar-striped');
          }
	      })
	    })
    }); 
  </script>
</html>