body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #555555;
  }
  
  a {
    color: #00B7FF;
  }
  
  .container {
    padding: 20px;
    background-color: #efefef;
    width: 97%;
    border-radius: 6px;
  }
  .container h3 a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #00AE4D;
    border-radius: 6px;
    color: #FFFFFF;
  }
  
  .container h3 a:hover, .container table tr td button:hover {
    background-color: #78F5AE;
    color: #999999;
  }
  
  .container table {
    width: 500px;
  }
  
  .container table tr td {
    padding: 5px;
  }
  
  .container table tr td input, .container table tr td textarea {
    border: solid 1px #dddddd;
    padding: 5px 10px;
    border-radius: 6px;
    width: 100%;
    color: #777777;
  }
  
  .container table tr td button {
    border: solid 1px #AABF5C;
    background-color: #00AE4D;
    border-radius: 6px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 10px 20px;
  }
  
  .container form button {
    border: solid 1px #CB2027;
    background-color: #DD4B39;
    border-radius: 6px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 10px 20px;
  }
  
  .container .list-table {
    width: 360px;
    border: solid 2px #DDDDDD;
    border-spacing: 0;
  }
  
  .container .list-table th {
    border-bottom: solid 2px #DDDDDD;
  }

  .progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
  }
  
  .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }